.header-container {
  height: 100px;
  .follow {
    font-size: 26px;
    &:hover {
      cursor: pointer;
    }
  }
  .follow-container {
    z-index: 2;
  }
  .follow-content {
    width: 400px;
    background: #fff;
    box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.42);
    .follow-item {
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .follow-title {
      font-size: 16px;
      color: #2c2c2c;
      border-bottom: 1px solid #f2f2f2;
    }
    .follow-list {
      // font-size: 16px;
      // color: #2c2c2c;
      min-height: 40px;
      border-bottom: 1px solid #f2f2f2;
    }
    .list-item {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .nav-right {
    font-weight: 500;
    .nav-item {
      margin-left: 20px;
    }
    :hover {
      cursor: pointer;
    }
  }
  .nav-left {
    .nav-item {
      //   margin-right: 20px;
      .nav-item-button {
        font-weight: 500;
        padding: 15px 10px;
        background-color: transparent;
        border: 0;
      }
      .nav-item-button-special {
        font-weight: 500;
        padding: 15px 10px;
        background-color: transparent;
        border: 1px solid #e0e0e0;
      }
      :hover {
        background-color: #e0e0e0;
      }
    }
    .nav-space {
      color: rgb(242, 242, 242);
    }
    .nav-info {
      .info-select {
        border: none;
      }
      :hover {
        cursor: pointer;
      }
      .menu-item-name {
        font-size: 14px;
      }
    }
  }
}
