.product-container {
  background-color: var(--bg-content);
  .product-list {
    .product-item {
      box-shadow: 0 0.125rem 0.25rem rgba(#000000, 0.075);
      &:hover {
        box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.175);
        cursor: pointer;
      }
      .product-img {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
