.content-signup {
  min-height: 600px;
  background-color: var(--bg-primary);

  .form {
    width: 600px;
    .form-submit {
      :hover {
        background-color: red;
        opacity: 0.5;
      }
    }
    .sosical {
      .sosical-space {
        height: 1px;
        width: 45%;
        border-top: 1px solid #ced4da;
      }
      .sosical-title {
        width: 10%;
        color: #999999;
      }
      .sosical-frame {
        border: 1px solid #ced4da;
        width: 45%;
        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
        }
        .sosical-fb {
          color: #2c2c2c;
          font-weight: 500;
        }
        .sosical-gg {
          color: #2c2c2c;
          font-weight: 500;
        }
      }
    }
  }
}
