@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap");
:root {
  //Color
  --primary: #fe2c55;
  --black: #000;
  --text-color: #333;
  --white: #fff;
  --silver: #999;
  //Background-color
  --bg-primary: rgb(249, 249, 249);
  --bg-content: #fafafa;
  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}
$black: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
