.container-comment {
  border: 1px solid #ddd;
  .comment-content {
    outline: none;
    background-color: var(--bg-content);
  }
}
.container-list-comment {
  border: 1px solid #ddd;
  .list-comment-name {
    color: #5488c7;
    font-size: 14px;
    font-weight: 700;
  }
  .list-comment-date {
    color: #9b9b9b;
  }
  .list-comment-content {
    font-size: 20px;
    font-weight: 400;
  }
  .list-comment-click {
    font-size: 20px;
    cursor: pointer;
    :hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .list-comment-click-reply {
    font-size: 20px;
    cursor: pointer;
    :hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
